<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survivor Alliance Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/website.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        function handleOnContestantChange() {
            var allianceElement = document.getElementById("alliance-select");
            var contestantElement = document.getElementById("contestant-select");
            var contestant = contestantElement.value;
            if (contestant !== "") {
                getSelectChange(contestant);
            }
            allianceElement.value = "";
        }

        function handleOnAllianceChange() {
            var allianceElement = document.getElementById("alliance-select");
            var contestantElement = document.getElementById("contestant-select");
            var alliance = allianceElement.value;
            if (alliance !== "") {
                getSelectChange(alliance);
            }
            contestantElement.value = "";
        }

        function getSelectChange(selection) {
            $.post("/handleContestantChange", {"contestant": selection}, function(data) {
                var elementToSet = document.getElementById("alliance-name");
                elementToSet.innerHTML = data;
            });
        }

        function getRandomContestant() {
            $.get("/getRandomContestant", function(data) {
                var elementToSet = document.getElementById("alliance-name");
                elementToSet.innerHTML = data;
            });
        }

        function getRandomAlliance() {
            $.get("/getRandomAlliance", function(data) {
                var elementToSet = document.getElementById("alliance-name");
                elementToSet.innerHTML = data;
            });
        }
    </script>
</head>
<body>

<div class="center-container">
    <div class="project-title">Survivor U.S. Alliance Roadmap</div>
</div>

<div class="center-container">
    <select name= alliances_page id="alliance-select" onchange="handleOnAllianceChange()" action="/">
        <option value="" disabled selected hidden>Choose an Alliance</option>
        {% for alliances in alliances_page %}
        <option value= "{{alliances}}" >{{alliances}}</option>"
        {% endfor %}
    </select>
    <span>OR</span>
    <select name= contestants_page id="contestant-select" onchange="handleOnContestantChange()" action="/">
        <option value="" disabled selected hidden>Choose a Contestant</option>
        {% for contestants in contestants_page %}
        <option value= "{{contestants}}" >{{contestants}}</option>"
        {% endfor %}
    </select>
</div>
<div class="center-container">
    <button onclick="getRandomContestant()">Random Contestant</button>
</div>
<div class="center-container">
    <button onclick="getRandomAlliance()">Random Alliance</button>
</div>
<div>
    <div class="center-container"><span class="display-data" id="alliance-name">{{ myData }}</span></div>
</div>
</body>
</html>