<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survivor Alliance Map</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/website.css') }}">
    <!-- <script>
        function handleContestantChange(selection) {
            //document.getElementById('contestants_page').addEventListener('change', function() {
            console.log('You selected: ', selection.value);
            this.form.onContestantChanged();
        // });
        }
    </script> -->
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $('a#test').on('change', function(e) {
                e.preventDefault()
                $.getJSON('/onContestantChanged',
                    function(data) {
                        console.log("on contestant changed")
                  //do nothing
                });
                return false;
              });
            });
    </script> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        function handleOnContestantChange() {
            var allianceElement = document.getElementById("alliance-select");
            var contestantElement = document.getElementById("contestant-select");
            var contestant = contestantElement.value;
            if (contestant !== "") {
                getSelectChange(contestant);
            }
            allianceElement.value = "";
        }

        function handleOnAllianceChange() {
            var allianceElement = document.getElementById("alliance-select");
            var contestantElement = document.getElementById("contestant-select");
            var alliance = allianceElement.value;
            if (alliance !== "") {
                getSelectChange(alliance);
            }
            contestantElement.value = "";
        }

        // function handleOnRandom(contestants_page, alliances_page){
        //     console.log("Handling on random");
        //     console.log(contestants_page)
        //     var randomNumber = Math.random(0, alliances_page.length + contestants_page.length)
        //     var randomContestantOrAlliance;

        //     if(randomNumber < alliances_page.length){
        //         randomContestantOrAlliance = alliances_page[randomNumber];
        //     }
        //     else{
        //         randomContestantOrAlliance = contestants_page[randomNumber - alliances_page.length];
        //     }
        //     getSelectChange(randomContestantOrAlliance);
        //     contestantElement.value = "";
        //     allianceElement.value = "";
        // }

        function getSelectChange(selection) {
            $.post("/handleContestantChange", {"contestant": selection}, function(data) {
                var elementToSet = document.getElementById("alliance-name");
                elementToSet.innerHTML = data;
            });
        }

        function getRandomContestant() {
            $.get("/getRandomContestant", function(data) {
                var elementToSet = document.getElementById("alliance-name");
                elementToSet.innerHTML = data;
            });
        }

        function getRandomAlliance() {
            $.get("/getRandomAlliance", function(data) {
                var elementToSet = document.getElementById("alliance-name");
                elementToSet.innerHTML = data;
            });
        }
    </script>
</head>
<body>

<div class="center-container">
    <div class="project-title">Survivor U.S. Alliance Roadmap</div>
</div>

<div class="center-container">
    <select name= alliances_page id="alliance-select" onchange="handleOnAllianceChange()" action="/">
        <option value="" disabled selected hidden>Choose an Alliance</option>
        {% for alliances in alliances_page %}
        <option value= "{{alliances}}" >{{alliances}}</option>"
        {% endfor %}
    </select>
    <span>OR</span>
    <select name= contestants_page id="contestant-select" onchange="handleOnContestantChange()" action="/">
        <option value="" disabled selected hidden>Choose a Contestant</option>
        {% for contestants in contestants_page %}
        <option value= "{{contestants}}" >{{contestants}}</option>"
        {% endfor %}
    </select>
</div>
<div class="center-container">
    <button onclick="getRandomContestant()">Random Contestant</button>
</div>
<div class="center-container">
    <button onclick="getRandomAlliance()">Random Alliance</button>
</div>
<div>
    <div class="center-container">Contestant or Alliance Info: <span class="display-data" id="alliance-name">{{ myData }}</span></div>
</div>
</body>
</html>