.project-title {
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.center-container {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    line-height: 32px;
}
